html {
    font-family: sans-serif;
}

body {
    height: 100%;
    margin: 0;
    font-family: "helvetica neue", helvetica, sans-serif;
    color: #f4f4ec;
    background: #191919;
    background-size: cover;
}

.wrapper {
    margin: 0 auto 0px;
    padding: 10em 0em 4em 5em;
}

footer {
    color: #EAE9E5;
    text-align: center;
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0px;
}

a {
    color: #565553;
    text-decoration: none;
}
a:hover {
    outline: 0;
    color: #aaaa33;
}

a:focus {
    outline: thin dotted;
}

a:link, a:visited {
    transition: background-color 0.15s linear, color 0.15s linear;
}

h1 {
    color: #eae9e5;
    font-size: 4.4em;
    margin: 0px;
    text-transform: capitalize;
    letter-spacing: -2px;
}

h2 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    animation: fadein 2s;
}

ul {
    list-style: none;
    margin: 2em 0;
    padding: 0;
    animation: fadein 2s;
}

ul li {
    padding: 0;
    margin: -0.2em 0em;
    display: block;
    font-size: 4.4em;
    font-weight: bold;
    color: #6a6967;
    letter-spacing: -2px;
    transition-duration: 0.15s, 0.15s;
    transition-property: background-color, color;
    transition-timing-function: linear, linear;
}

#box {
    overflow: scroll;
    position: absolute;
    margin: 0px;
    padding: 30px;
    background-color: white;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 100%;
}

.article {
    margin: 5px;
    padding: 30px;

}
.article p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.artH3 {
    font-size: 40px;
    color: brown;

}
